@font-face {
  font-family: 'Papyrus';
  src: url('./assets/fonts/Papyrus.ttc') format('truetype');
  font-weight: normal;
  font-style: normal;
}
span {
  color: rgb(75, 0, 0);
  font-family: 'Papyrus';
  font-size: 700px;
}